// $accentColor: #1fb29f;
$accentColor: #7fd8d5;
// $backgroundColor: #cecdd5;
$backgroundColor: #d5e7e8;
$darkColor: #454545;
$firstBcgColor: #f1f1f1;
// $secondBcgColor: #454545;
$secondBcgColor: #3b3f51;
$transparentBlack: rgba(0,0,0,0.5);
$transparentBlack2: rgba(0,0,0,0.8);
$transparentWhite: rgba(255,255,255,0.2);
