* {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	letter-spacing: 110%;
}

html {
	font-size: 14px;
}

.container {
	max-width: 1120px;
	min-width: 200px;
	margin: 0 auto;
	padding: 0 1rem;
}

.clearfix {
	clear: both;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	z-index: 2;
	padding: 0.5rem;
}
h3 {
	font-size: 1.3rem;
	color: white;
	z-index: 2;
	padding: 0.5rem;
}
h4 {
	font-size: 1.15rem;
	color: white;
	z-index: 2;
	padding: 0.5rem;
}



/*HEADER*/
header {
	background-color: $firstBcgColor;
}

/*NAVIGATION*/
nav {
	background-color: $secondBcgColor;
	color: white;
	font-size: 1em;
	height: 3em;
	.container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.logo {
		background-image: url(../images/logo.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 5em;
		height: 2.5em;
	}
}

.menu {
	i.fa-bars {
		font-size: 1.2em;
		cursor: pointer;
		@media (min-width: $firstCheckPoint) {
			display: none;
		}
	}
}
.mainMenu {
	display: none;
	@media (min-width: $firstCheckPoint) {
		display: inline-block;
	}
	li {
		display: inline-block;
		cursor: pointer;
	}
	a {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		text-decoration: none;
		color: white;
	}
	i {
	color: white;
	@media (min-width: $firstCheckPoint) {
		display: inline-block;
		font-size: 1.4em;
		padding: 0 1em;
		}
	@media(min-width: $secondCheckPoint) {
		display: none;
		}
	}
}

.mainMenu {
	li h3 {
		display: none;
		color: $accentColor;
		@media (min-width: $secondCheckPoint) {
			display: inline-block;
			padding: 0 1.5em;
		}
	}

	li h3:hover {
		filter: brightness(150%);
		color: $accentColor;
		@media (min-width: $secondCheckPoint) {
			border: 1px solid $accentColor;
		}
	}
}


.mainMenu.show {
	position: absolute;
  top: 3.5em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  background-color: $secondBcgColor;
  padding: 3px;
  right: 1em;
	li {
		display: inline-block;
		cursor: pointer;
		margin: 5px 0;
	}
	i {
		display: none;
	}
	h3 {
		text-align: right;
		display: block;
		margin: 0 1em;
		padding: 0;
	}
}


.intro {

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
	.mainText {
		font-size: 1.5em;
		color: lighten($secondBcgColor, 30%);
	}
	.container div {
		background-image: url(../images/logo.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 8em;
		height: 4em;
		padding: 5rem 0;
	}
}
