* {
	font-family: 'Raleway', sans-serif;
}

html {
	font-size: 14px;
}

.container {
	max-width: 1120px;
	min-width: 200px;
	margin: 0 auto;
	padding: 0 30px;
}

.clearfix {
	clear: both;
}


/*HEADER*/
header {
	height: 30vh;
	// background-image: url("../images/wallup.jpg");
	// background-position: center;
	// background-size: cover;
	// background-repeat: no-repeat;
	background-color: $firstBcgColor;
}

/*NAVIGATION*/
nav {
	background-color: $secondBcgColor;
	color: white;
	font-size: 1em;
	height: 3em;
	.container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo {

	}
}

.menu {
	i.fa-bars {
		font-size: 1.2em;
		// margin: 0 1em;
		cursor: pointer;
		@media (min-width: $firstCheckPoint) {
			display: none;
		}
	}
}
.mainMenu {
	display: none;
	@media (min-width: $firstCheckPoint) {
		display: inline-block;
	}
	li {
		display: inline-block;
		cursor: pointer;
		a {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
			text-decoration: none;
			color: white;
			i {
			color: white;
			@media (min-width: $firstCheckPoint) {
				display: inline-block;
				font-size: 1.2em;
				margin: 0 1em;
				}
			@media(min-width: $secondCheckPoint) {
				display: none;
				}
			}
		}
	}
}

li h3 {
	display: none;
	// margin: 0 1em;
	// padding: 0 1em;
	@media (min-width: $secondCheckPoint) {
		display: inline-block;
		// margin: 0 1em;
		padding: 0 1em;
	}
}

div.line {
	margin-right: 1em;
	height: 0.2em;
	width: 3em;
	background-color: $accentColor;
	transition: all 0.3s ease-in-out;
	@media (min-width: $firstCheckPoint) {
		display: none;
		// width: 3.5em;
		// margin-left: 1em;
		// text-align: center;
	}
	@media (min-width: $secondCheckPoint ) {
		display: block;
		display: 3em;
		margin-left: 1em;
	}
}
li h3:hover + div.line {
	width: 7em;
	@media (min-width: $firstCheckPoint) {
		// display: none;
	}
	@media (min-width: $secondCheckPoint) {
		width: 5.5em;
	}
}

.mainMenu.show {
	position: absolute;
  top: 3.5em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  background-color: #454545;
  padding: 3px;
  right: 1em;
	li {
		display: inline-block;
		cursor: pointer;
		margin: 5px 0;
		i {
			display: none;
		}
		h3 {
			text-align: right;
			display: block;
			margin: 0 1em;
		}
	}
}


.intro {
	height: 80%;
	.container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.mainText {
			font-size: 1.5em;
			span {
				font-weight: bold;
				color: $accentColor;
			}
		}
	}
}
