.lastTrips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // border-bottom: 3px solid $secondBcgColor;
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    // border-bottom: 3px solid $secondBcgColor;
  }
  .lastTrip {
    cursor: pointer;
    width: 100%;
    height: 30vw;
    background-image: url(../images/lanzarote.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.3s;
    border-top: 1px solid $secondBcgColor;
    border-bottom: 1px solid $secondBcgColor;
    // filter: brightness(70%);
    position: relative;
    @media (min-width: $firstCheckPoint) {
      width: 50%;
    }
    @media (min-width: $thirdCheckPoint) {
      width: 33.33%;
    }
    &:hover {
				filter: brightness(115%);
		}
  }
  .lastTrip::after {
    content: "";
    display: block;
    z-index: 1;
    width: 100%;
    height: 15vw;
    @include gradientHorizontal (transparent, $transparentBlack, black)
    position: absolute;
    // border-bottom: 1px solid white;
    @media (min-width: $firstCheckPoint) {
      width: 100%;
    }
    @media (min-width: $thirdCheckPoint) {
      width: 100%;
    }
  }
}


.lastTrip.hidden {
  display: none;
}
.hidden {
  display: none;
}
.shown {
  display: block;
  background-color: $backgroundColor;
  background-position: center;
  background-size: cover;
  height: 90vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lastTripSelected {
  div.shadow {
    height: 50vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    transition: 0.5s all;
    @include gradientHorizontal (transparent, $transparentBlack2, transparent);
    h2, h3 {
      opacity: 1;
      transition: 0.5s all;
      z-index: 3;
    }
  }
  div.shadow:hover {
    height: 50vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    // background: $transparentBlack;
    @include gradientHorizontal (transparent, $transparentBlack2, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  // div.shadow:hover h2 {
  //   opacity: 1;
  // }
  // div.shadow:hover h3 {
  //   opacity: 1;
  // }
}
