.plannedTrips {
	height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
  }


	.wrap {
		overflow: hidden;
		ul.carousel {
			display: flex;
		  list-style: none;
		  margin: 0;
		  padding: 0;
			position: relative;
  		left: -100%;
			li {
				flex: 1 0 100%;
			}
		}
	}
  .plannedTrip {
    cursor: pointer;
	}

	// ----- Carousel ----- //

	.carousel {
		width: 100%;
		height: 100%;
		ul {
			list-style: none;
			width: 100%;
			height: 100%;
		}
		li{
		  display: none;
		}
		.visible{
		  display: inline-block;
			width: 100%;
			height: 100%;
		}
	}


	.wrap {
		height: 40vh;
		width: 100%;
		display: flex;
	}

  .plannedTrip {
	  // margin-right:10px;
	  width:200px;
    // cursor: pointer;
    width: 100%;
    height: 100%;
    background-image: url(../images/lanzarote.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.3s;

    // @media (min-width: $firstCheckPoint) {
    //   width: 50%;
    // }
    // @media (min-width: $thirdCheckPoint) {
    //   width: 33.33%;
    // }
    // h3 {
    //   color: white;
    //   z-index: 2;
    //   padding-bottom: 1em;
    // }
  }

	div.shadow {
    height: 40vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    transition: 0.5s all;
		@include gradientHorizontal (transparent, $transparentBlack2, transparent);

    h2, h3 {
			color: white;
      // opacity: 0;
      transition: 0.5s all;
    }
  }
	#prevPicture, #nextPicture {
		display: inline-block;
    position: absolute;
    z-index: 3;
    top: 31em;
		font-size: 2em;
		color: white;
		cursor: pointer;
	}
	#nextPicture {
		right: 0.5em;
	}
	#prevPicture {
		left: 0.5em;
	}
}
