.plan {
	// height: 70vh;
	// background-color: $secondBcgColor;
	background-image: url("../images/wal.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 1rem 0 2rem 0;
	.container {
		// height: 100%;
		color: white;
		display: flex;
		flex-direction: column;
		align-items: space-between;
		justify-content: center;
	}
	.planTitle {
		font-size: 1.5em;
		// padding: 0.25em;
	}
	.planData {
	}
	.planPart {
		// padding: 0.25em;
		font-size: 1em;
		display: flex;
		justify-content: space-between;
	}
	h4 {
		width: 100%;
		display:block;
	}
	.planPart button {
		// padding: 0.5em 0.7em;
		font-size: 1em;
		border: 1px solid $accentColor;
		border-radius: 2px;
		background-color: $secondBcgColor;
		color: $accentColor;
		height: 40px;
		width: 40px;
		}
	button:focus {
		outline:0;
		}
	input {
		width: 50%;
		min-width: 140px;
		font-size: 1em;
		color: white;
		border: 0;
		outline: 0;
		background: transparent;
		border-bottom: 1px solid #ddd;
		transition: all 0.3s ease-in-out;
		display: block;
		overflow: hidden;
		font-weight: 300;
		color: $accentColor;
		}
	input:focus {
		border-bottom: 1px solid $accentColor;
		width: 95%;
		}
	input[type="date"]:focus {
		width: 50%;
	}
	span {
		width: 70vw;
		display: block;
		overflow: hidden;
		}
	.msg {
		display: none;
		transition: 0.3s all ease-in-out;
		color: $accentColor;
		font-size: 0.8em;
		margin-left: 0.5em;
	}
	.msgShown {
		display: block;
	}

	button#submitTripPlan {
		padding: 0.5em 0.7em;
		font-size: 1em;
		border: 1px solid $accentColor;
		border-radius: 2px;
		background-color: $secondBcgColor;
		color: $accentColor;
		margin: 0.7rem 0.2rem;
		}
	button:focus {
		outline:0;
		}
}
