.socialMedia {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;

  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 20vh;
    background-color: $secondBcgColor;
    // width: 100%;

  }
  .logos {
    width: 60%;
    // height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      // width: 33.33%;
      i {
        text-align: center;
        font-size: 1.5em;
        padding: 10px 20px;
        width: 100%;
        color: $accentColor;
        border-radius: 2px;
        &:hover {
    				filter: brightness(150%);
            border: 1px solid $accentColor;

            // border: 1px solid white;
    			}
      }
    }
  }

}
