.socialMedia {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;

  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $secondBcgColor;
  }
  .logos {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    div {
      // width: 33.33%;
      i {
        text-align: center;
        font-size: 1.5em;
        padding: 10px 20px;
        width: 100%;
        color: $accentColor;
        border-radius: 2px;
        border: 1px solid $secondBcgColor;
        &:hover {
  				filter: brightness(150%);
          border: 1px solid $accentColor;
          outline: none;
    			}
        &:focus {
  				filter: brightness(150%);
          border: 1px solid $accentColor;
          outline: none;
    			}
      }
    }
  }

}
